{% extends "base.html" %}
{% block conteudo %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<form action="/primeira/produto/editar/{{id}}/" method="POST">
    {% csrf_token %}
    <h1>Editar produto</h1>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" for='{{form.nome.id_for_span}}' id="inputGroup-sizing-sm">Nome</span>
        </div>
        {{form.nome}}
        {{form.nome.errors}}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" for='{{form.codigo.id_for_span}}' id="inputGroup-sizing-default">codigo</span>
        </div>
        {{form.codigo}}
        {{form.codigo.errors}}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" for='{{form.carrinho.id_for_span}}' id="inputGroup-sizing-default">carrinho</span>
        </div>
        {{form.carrinho}}
        {{form.carrinho.errors}}
    </div>

    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary">OK</button>
    </div>
</form>
{% endblock %}

